{% load static %}
 


<head>
    <title>Login</title>
    
    <link rel="icon" href="{% static 'doge.png' %}">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>

<div class="navbar">
    <a href="{% url 'main' %}">Home</a>
    <a href="#patience... we are still working on this">Charts</a>
    <div class="dropdown">
        <button class="dropbtn">Links
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
        <a href="#">More details</a>
        <a href="#">See connected tower status</a>
        <a href="#">Something else probably</a>
        </div>
    </div>
</div> 

<div id="SPlogo">
    <img src="{% static 'SPlogo.jpg' %}" />
</div>

<body>



{% block navbar %}
{% endblock %}


</div>
<br>


{% block main %}
{% endblock %}

<div id="main">
{% block content %}
{% endblock %}

{% block script1 %}
{% endblock %}

</div>
<br>


<div id="info">

{% block plugged %}
{% endblock plugged %}


{% block graphs%}
{% endblock graphs%}
</div>
<br>

{% block wisdom %}
{% endblock wisdom %}

{% block login %}
{% endblock %}

</body>
</html>

