{% load static %}

<head>
    <title>CPE Info:</title>
    
    <link rel="icon" href="{% static 'doge.png' %}">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
   
</head>
<body>

{% block navbar %}
{% endblock %}


</div>
<br>


{% block main %}
{% endblock %}

<div id="main">
{% block content %}
{% endblock %}

{% block script1 %}
{% endblock %}

</div>
<br>


<div id="info">

{% block plugged %}
{% endblock plugged %}


{% block graphs%}
{% endblock graphs%}
</div>
<br>

{% block wisdom %}
{% endblock wisdom %}

{% block login %}
{% endblock %}

</body>
</html>

