{% extends "polls/base.html" %}

{% block main %} 

{% load static %}

<a id="logout" >Log out</a>

<head>
<title>Search by IP address</title>
</head>

<div id="IPinput">
<form action="/polls", method="GET">
  <ul class="errorMessages"></ul>
  <!--pid="IP" name="IP" placeholder="Customers IP..."-->
  <div>
      <input id="IP" placeholder="Customers IP..." name="IP" type="text" required>
      
      <!--input type="submit" value="Submit"-->
      <input type="checkbox" name="dt" value=tower> This is a tower<br>
      <input type="submit" value="Submit">
  </div>

</form>​

</div>

</body>
</html>
{% endblock %} 
