{% extends "polls/base.html" %}

{% load static %}

{% block navbar %}

<div class="navbar">
        <a href="#home">Home</a>
        <a href="#not_fucking_here_yet_you_impatient_ass_munch">Charts n shit</a>
        <div class="dropdown">
            <button class="dropbtn">Links
            <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
            <a href="#">More details</a>
            <a href="#">See connected tower status</a>
            <a href="#">Something else probably</a>
            </div>
        </div>
    </div> 
    
{% endblock %}
