{% extends "polls/base.html" %}
{% load static %}
{% block content %}


<div class="login">
{% if form.errors %}

<script>
function tryagain() {
  alert("TRY AGAIN BITCH");
}
</script>
 <body onpageshow="tryagain()"> 
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
      <script>
          function whoareyou() {
            alert("Who do you think you are...");
          }
      </script>
      <body onpageshow="tryagain()"> </p>
    {% else %}
    {% endif %}
{% endif %}

  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}

    <div id="username_login">
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>

      <td>{{ form.password.label_tag }}</td> 
      <td>{{ form.password }}</td>
    </div>

    <div>
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
</div>
{% endblock %}